/* navbar */
@media (max-width:48em) {
  .navbar .container{
    width: 100%;
    background: rgb(90, 89, 89);
  }
  .navbar{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
  }
  a.navbar-brand img{
    padding-left: 22px;
  }
  
li.nav-item.p-2 {
  line-height: 38px;
  display: block;
  text-align: center;
}
.container-fluid.banner {
  height: 648px;
}
/* banner */
.innovate{
  left: 5% !important;
}
.btn-more.d-flex.mt-4 {
  justify-content: center;
}
ol.breadcrumb {
  display: flex;
  justify-content: center;
}
/* call to ac */
.form-group.mb-2 {
  margin-right: 0px !important;
}
}
body{
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: rgb(90, 89, 89);
  
}
.menu{
  width: 100%;
  z-index: 100;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: 100;
  transition: 0.35s all ease;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar{
  background-color: transparent;


}
#navbarNav{
  transition: 0.35s all ease;
}
.scrolled {
  padding-top: 12px;
  background-color: rgb(90, 89, 89);
  transition: 0.35s all ease;

}

/* .bg-faded{
  background: #0000002b;
} */
.listul{
  justify-content: flex-end;
}
.navbar ul li a.nav-link {
  
  color: rgb(249 245 245 / 63%) !important;
  padding: 10px 15px 0 15px;
  font-weight: 300;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
}

.navbar ul li a.nav-link:hover {
  border-bottom: 2px solid snow;
  color: snow !important;
}
/* banner */
.banner{
  position: relative;
  padding-top: 40%;
  width: 100%;
  z-index: 0;
}
.bn-bg {
  background-repeat: no-repeat !IMPORTANT;
  background-position: center !IMPORTANT;
  background-size: cover !IMPORTANT;
  background-image: url('https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.innovate{
  position: absolute;
  top:310px;
  left: 30%;
  color: snow;
}

.breadcrumb{
  background-color: transparent;
}
a.fa.fa-chevron-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  font-size: 20px;
  color: snow;
}
span.bold {
  font-weight: 700;
}
.breadcrumb-item+.breadcrumb-item::before{
  color: snow !important;
}
/* RATE */
.list-group-flush .list-group-item.list-rate {
  justify-content: space-between;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
.list-group-flush:last-child 
.list-group-item:last-child{
  border-bottom: 1px solid #80808075  !important;
}
li.list-group-item.list-rate .line {
  position: absolute;
  bottom: -1px;
  left: 0px;
  border-bottom: 1px solid;
  z-index: 3;
}
li.list-group-item.list-rate .line.a{
  width: 90%;
}
li.list-group-item.list-rate .line.b{
  width: 85%;
}
li.list-group-item.list-rate .line.c{
  width: 70%;
}
div.ct h3.bold {
  font-family: Arial,Helvetica,sans-serif;
  line-height: 33px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
.content-1{
  margin-top: 6rem !important;
}
/* content 2 */
.container-fluid.content-1 ,.container-fluid.content-1.seo {
  background-color: #EEEEEE;
}
/* content 3 */
.col-sm-3.title {
  border-right: 1px solid #c7bebe;
}
h4.count.number {
  font-size: 30px;
  font-weight: lighter;
}
.container.point{
  padding-top: 60px;
  padding-bottom: 60px;
}
/* content-4 */
h3.bold.work {
  font-size: 25px !important;
  padding: 23px 15px 23px 15px;
  border-left: 2px solid gray;
}
h5.lighter, h3.lighter, span.lighter {
  font-weight: lighter;
}
/* content-5 */
h5.lighter, h3.lighter{
  color: snow;
}
h3.lighter{
  padding: 109px 0px;
}
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}
/* CONTENT-6 */
div.slogan{
  padding: 44px;
}
/* content 7 */
.col-lg-3.pl-2.d-flex {
  border-right: 1px solid gray;
}
/* call to ac */
button.btn.btn-primary.mb-2 {
  border-radius: 0;
  background-color: rgb(66, 63, 63) !important;
  border-color: rgb(66, 63, 63) !important;
}
input#staticEmail2 {
  background: transparent;
  width: 100%;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.form-group.mb-2 {
  width: 270px;
}
.container.cta {
  padding: 66px;
}
/* footer */
.icon-social {
  width: 175px;
}
.icon-social i {
  color: #c5c0c0;
}
div.bg{
  background-color: rgb(66, 63, 63) !important;
}
span.disabled {
  color: #908787;
}
ul.list-group.list-group-flush li {
  line-height: 30px;
 
}
.footer{
  color: snow;
  padding-top: 77px;
}
.p-2.copy {
  border-top: 1px solid gray;
}
/* video */
span.video-btn {
  width: 101px;
  height: 71px;
}

i.fa.fa-play-circle-o.fa-lg {
  font-size: 63px;
 }